
.App {
  text-align: center;
}
.title {
  padding-top: 10px;
  padding-bottom: 20px;
  color: #fff;
}

body{
  background-color: #F7B867;
}

.crud{
  background-color: #D99740;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  -webkit-box-shadow: 10px 10px 25px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 25px -7px rgba(0,0,0,0.75);
box-shadow: 10px 10px 25px -7px rgba(0,0,0,0.75);
}
.mt{
margin-top: 40px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F7B867;
  color: white;
  text-align: center;
}
.my-web {
  font-weight: bold;
}
a, a:hover {
  color: black;
  text-decoration: none;
 }